
/*
FONTS:
font-family: 'Rubik Mono One', sans-serif; - big blocky
font-family: 'Mandali', sans-serif; - thin rounded edges
font-family: 'Shanti', sans-serif; - thin clean lines(like it)
font-family: 'Assistant', sans-serif; - even thinner and cleaner, but not the "g" I like
font-family: 'Pavanam', sans-serif; - WINNER - clean and thin, good "g"
font-family: 'Chonburi', cursive; - 50s fat font with thin partials
font-family: 'Bowlby One', cursive; - fat and cartoonish

COLORS:
#4ECDC4 - blue/green
#515151 - dark gray
#2A2A2A - hover darker gray
#FFFFFF - white
*/


body {
	font-family: 'Josefin Sans', sans-serif;	display: flex;
	min-height: 100vh;
	flex-direction: column;
}
main {
	flex: 1 0 auto;
}

/*scroll to the top button */
.btn-floating {
	background-color: transparent;
	border: 1px solid #FFFFFF;
}
.btn-floating:hover, .btn-floating:focus  {
    background-color: #515151;
}
#scroll-top-icon {
	margin: 0px;
	padding: 0px;
}

/*nav bar*/
nav {
	background-color: #FFFFFF;
	color: #515151;
	border: none;
	box-shadow: none;
}
nav .brand-logo {
	padding-left: 25px;
	color: #515151;
	font-size: 24px;
}
nav ul a {
	color: #515151;
}
nav a {
	color: #515151;
}
/*main content*/
/*about*/
#about {
    color: #FFFFFF;
    height: 100%;
	margin-top: 50px;
	margin-bottom: 80px;
}
#profile-pic {
	height: 150px;
	width: 150px;
	border-radius: 50%;
	margin-top: 20px;
}
#about p {
	font-size: 24px;
	margin-top: 15px;
	background-color: rgba(0, 0, 0, 0.4);
	border-radius: 10px;

}
h3 {
	font-weight: bold;
}
/*portfolio */
#portfolio h2 {
	color: #FFFFFF;
	margin-bottom: -30px;
	font-weight: 400;
	letter-spacing: 1px;
}
.portfolio-img {
	height: 100%;
	width: 100%;
	margin-top: 50px;
	margin-bottom: -9px;
}
.collapsible {
	width: 100%;
	color: #515151;
	margin-top: 0px;
	padding-top: 0px;
}
.collapsible-body {
	background-color: #515151;
	color: #FFFFFF;
}
.collapsible-header i {
	margin-right: -37px;
}

#github-icons {
	color: #FFFFFF;
}
/*contact*/
/*@media only screen and (min-width: 993px)*/
.row .col.offset-l2 {
    margin-left: 0px;
}
/*tooltip pop up*/
.backdrop {
    background-color: #515151;
    padding-bottom: 50px;
 }
/*footer*/
footer.page-footer {
    margin-top: 20px;
    padding-top: 20px;
    background-color: transparent;
}
#footer-icons {
    color: #FFFFFF;
	margin-top: 100px;
    margin-left: 40px;
    margin-right: 40px;
	font-size: 100px;
}
#contact-footer {
	color: #FFFFFF;
	font-size: 22px;
	margin-bottom: 2px;
}
