
/*
FONTS:
font-family: 'Rubik Mono One', sans-serif; - big blocky
font-family: 'Mandali', sans-serif; - thin rounded edges
font-family: 'Shanti', sans-serif; - thin clean lines(like it)
font-family: 'Assistant', sans-serif; - even thinner and cleaner, but not the "g" I like
font-family: 'Pavanam', sans-serif; - WINNER - clean and thin, good "g"
font-family: 'Chonburi', cursive; - 50s fat font with thin partials
font-family: 'Bowlby One', cursive; - fat and cartoonish

COLORS:
#4ECDC4 - blue/green
#515151 - dark gray
#2A2A2A - hover darker gray
#C6C6C6 - light gray
#FFFFFF - white
*/


body {
	font-family: 'Josefin Sans', sans-serif;	display: flex;
	min-height: 100vh;
	flex-direction: column;
}
main {
	flex: 1 0 auto;
}
/*all h2 titles*/
h2 {
	color: #FFFFFF;
    padding-bottom: 10px;
    font-weight: 400;
    font-size: 70px;
    letter-spacing: .6px;
    border-bottom: 2px solid #FFFFFF;
}
/*scroll to the top button */
.btn-floating {
	background-color: transparent;
	border: 1px solid #FFFFFF;
}
.btn-floating:hover, .btn-floating:focus  {
    background-color: #515151;
}
#scroll-top-icon {
	margin: 0px;
	padding: 0px;
}

/*nav bar*/
nav {
	background-color: #4ECDC4;
	border: none;
	box-shadow: none;
}
nav .brand-logo {
	padding-left: 25px;
	color: #FFFFFF;
	font-size: 24px;
}
nav ul a {
	color: #FFFFFF;
}
nav a {
	color: #FFFFFF;
}
nav .nav-wrapper {
	border-bottom: 2px solid #FFFFFF;
}
/*main content*/
/*about*/
#about {
    color: #FFFFFF;
    height: 100%;
	margin-top: 50px;
	margin-bottom: 100px;
}
#profile-pic {
	height: 150px;
	width: 150px;
	border-radius: 50%;
	border: 2px solid #FFFFFF;
	margin-top: 20px;
}
#about p {
	font-size: 24px;
	margin-top: 15px;
	background-color: rgba(0, 0, 0, 0.6);
	border-radius: 10px;

}
/*portfolio */
#portfolio-container {
	width: 100%;
	background-color: #4ECDC4;
	padding-top: 2em;
	padding-bottom: 4em;
}
#portfolio {
	margin-left: 30px;
	margin-right: 30px;
}
.portfolio-img {
	height: 70%;
	width: 70%;
	margin-top: 40px;
	margin-bottom: -8px;
	border: 2px solid #FFFFFF;
}
.collapsible {
	width: 70%;
	color: #515151;
	margin: auto;
}
.collapsible-body {
	background-color: #515151;
	color: #FFFFFF;
}
.collapsible-body a {
	color: #FFFFFF;
}
.collapsible-header i {
	margin-right: -37px;
}

#github-icons {
	color: #FFFFFF;
}
/*contact*/
/*@media only screen and (min-width: 993px)*/
.row .col.offset-l2 {
    margin-left: 0px;
}
#contact {
	margin-top: 100px;
}
/*tooltip pop up*/
.backdrop {
    background-color: #515151;
    padding-bottom: 50px;
 }
/*footer*/
footer.page-footer {
    margin-top: 20px;
    padding-top: 20px;
    background-color: transparent;
}
#footer-icons {
    color: #FFFFFF;
	margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
	font-size: 100px;
}
#contact-footer {
	color: #FFFFFF;
	font-size: 22px;
	margin-bottom: 2px;
}
